
$color-primary: #2FC1E1;
$color-secondary: #F5F7FD;
$color-success: #60CE83;
$color-darkgray: #707070;
$color-info: #597DFC;
$color-violate: #ff61d3;
$color-brown: #FF9635;
$color-pink: #FF5E5E;
$color-pink: #FF5E5E;
$color-pink: #FF5E5E;
$color-pink: #FF5E5E;
