@import 'reboot';
@import 'variables';

.sidebar {
	display: block;
	background-color: $color-info;
	position: fixed;
	max-width: 320px;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	left: 0;
	padding: 30px;
	.sidebar__logo {
		margin-bottom: 50px;
		display: block;
		img {
			height: 100%;
			max-height: 50px;
		}
	}
	.sidebar__menu {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-webkit-box-pack: justify;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-box;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		height: calc(100% - 100px);
		.sidebar__menu__item {
			margin-bottom: 20px;
			&:hover,
			&.sidebar__menu__item--active {
				.Sidebar__menu__link {
					color: #fff;
					i {
						background: #fff;
					}
				}
			}
			.Sidebar__menu__link {
				color: rgba(255, 255, 255, 0.4);
				i {
					height: 40px;
					width: 40px;
					line-height: 40px;
					font-size: 1rem;
					background: rgba(255, 255, 255, 0.4);
					margin-right: 20px;
					color: $color-info;
					text-align: center;
					border-radius: 5px;
				}
			}
			.sidebar__dropdown__menu {
				margin-left: 60px !important;
				.sidebar__dropdown__item {
					a {
						color: rgba(255, 255, 255, 0.4);
						&:hover {
							color: rgba(255, 255, 255, 0.8);
							text-decoration: none;
						}
					}
				}
			}
		}
		.sidebar__logout {
			color: rgba(255, 255, 255, 0.4);
			i {
				height: 40px;
				width: 40px;
				line-height: 40px;
				font-size: 1rem;
				background: rgba(255, 255, 255, 0.4);
				margin-right: 20px;
				color: $color-info;
				text-align: center;
				border-radius: 5px;
			}
			&:hover {
				color: #fff;
				i {
					background: #fff;
				}
			}
		}
	}
}
.main-body {
	margin-left: 320px;
	padding: 30px;
	.header {
		background-color: #fff;
		border-radius: 10px;
		padding: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--notification {
			border-radius: 50%;
			position: relative;
			&:after {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: $color-brown;
			}
		}
		.header--left {
			a.button-info {
				background-color: $color-primary;
				color: #fff;
				padding: 10px 15px;
				border-radius: 5px;
				display: block;
			}
		}
		.header--right {
			.button-secondary {
				background-color: $color-secondary;
				color: #000;
				padding: 10px 15px;
				margin-left: 10px;
				img {
					height: 20px;
				}
				ul {
					display: none;
				}
			}
		}
	}
	.company-info {
		.company-info__single {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background-color: #fff;
			border-radius: 10px;
			padding: 20px;
			i {
				height: 100px;
				width: 100px;
				border-radius: 5px;
				color: #fff;
				line-height: 100px;
				margin-right: 15px;
				text-align: center;
				font-size: 50px;
			}
			&--background {
				&-pink {
					i {
						background-color: $color-pink;
					}
				}
				&-violate {
					i {
						background-color: $color-violate;
					}
				}
				&-brown {
					i {
						background-color: $color-brown;
					}
				}
				&-info {
					i {
						background-color: $color-info;
					}
				}
			}
			h5 {
				font-weight: 600;
			}
			p {
				color: $color-darkgray;
			}
		}
	}
	.recent-Applications__candidates {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(5, 1fr);
		.single-candidates {
			position: relative;
			background-color: #fff;
			padding: 30px 20px;
			text-align: center;
			border-radius: 10px;
			.star-rate {
				position: absolute;
				top: 20px;
				right: 30px;
				border-radius: 15px;
				background: $color-secondary;
				color: #000;
				padding: 0 5px;
				i {
					margin-right: 5px;
					color: $color-brown;
				}
				&.disable {
					color: lighten($color-darkgray, 15%);
					i {
						color: lighten($color-darkgray, 15%);
					}
				}
			}
			img {
				border-radius: 50%;
				height: 100px;
				width: 100px;
				margin-top: 5px;
			}
			h6 {
				font-size: 1.125rem;
				font-weight: 600;
				margin-top: 20px;
			}
			p {
				color: $color-darkgray;
				margin-bottom: 10px;
			}
			a {
				padding: 10px 20px;
				display: inline-block;
				background: lighten($color-info, 15%);
				color: #fff;
				border-radius: 5px;
				transition: 0.3s ease-in-out;
				&:hover {
					background-color: $color-info;
					box-shadow: 0 10px 10px lighten($color-info, 18%);
				}
			}
		}
	}

	.recent-Jobs {
		.table {
			border-collapse: separate;
			border-spacing: 0 1rem;
			thead {
				th {
					border: none;
					padding: 10px 15px;
				}
			}
			tbody {
				tr {
					background-color: #fff;
					border-radius: 10px;
					color: $color-darkgray;
					&:hover {
						color: $color-success;
					}
					td {
						border-top: none;
						vertical-align: middle;
						&:first-of-type {
							font-weight: 600;
						}
						.rounded {
							height: 40px;
							width: 40px;
							padding: 0 !important;
							border-radius: 50% !important;
							display: inline-block;
							text-align: center;
							i {
								line-height: 40px;
							}
						}
						.button--light-success {
							background-color: lighten($color-success, 30%);
							color: $color-success;
							padding: 10px 30px;
							border-radius: 50px;
							display: inline-block;
							line-height: 10px;
						}
						.button--light-info {
							background: lighten($color-info, 30%);
							color: $color-info;
							padding: 10px 30px;
							border-radius: 50px;
							display: inline-block;
							line-height: 10px;
						}
						.button--light-primary {
							background-color: lighten($color-primary, 30%);
							color: $color-primary;
							padding: 10px 30px;
							border-radius: 50px;
							display: inline-block;
							line-height: 10px;
						}
						.button--light-brown {
							background-color: lighten($color-brown, 30%);
							color: $color-brown;
							padding: 10px 30px;
							border-radius: 50px;
							display: inline-block;
							line-height: 10px;
						}
					}
					.mini-mode {
						font-size: 0.875rem;
						&:before {
							content: '( ';
						}
						&:after {
							content: ' )';
						}
					}
					.deatline-info {
						p {
							font-weight: 600;
						}
						display: flex;
						justify-content: space-between;
						align-items: center;
						.progressbar {
							height: 10px;
							width: 200px;
							border-radius: 5px;
							background: $color-darkgray;
						}
						.progresses {
							height: 10px;
							border-radius: 5px;
							background: $color-success;
							width: [data-width];
						}
					}
					.Applicants__list {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.applicants__img {
							.Applicants {
								height: 40px;
								width: 40px;
								text-align: center;
								line-height: 40px;
								background-color: $color-darkgray;
								border-radius: 50%;
								border: 1px solid #fff;
								margin-left: -25px;
								color: #fff;
								display: inline-block;
							}
							p.Applicants {
								transform: translateY(2px);
							}
						}
					}
				}
			}
		}
	}
	.footer {
		display: flex;
		justify-content: space-between;
		padding: 25px 15px;
		align-items: center;
		background-color: #fff;
		border-radius: 10px;
		color: $color-darkgray;
		p {
			margin-bottom: 0;
		}
	}
}
